@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg-primary: rgba(13, 15, 17, 1);
    --color-bg-secondary: rgba(25, 29, 35, 1);
    --color-text-primary: rgba(227, 227, 227, 1);
    --color-text-primary-inverse: rgba(255, 255, 255, 1);
    --color-text-inactive: rgba(184, 192, 204, 1);
    --color-bg-secondary-2: rgba(38, 44, 54, 1);
    --color-bg-grey: rgba(41, 42, 46, 1);
    --color-bg-common-dark-light: rgba(65, 66, 71, 1);

    --сolor-text-succes: rgba(42, 180, 174, 1);
    --color-text-error: rgba(255, 77, 77, 1);
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
}